/*
COLOR PALETTE
https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4
#22223B - Space Cadet
#4A4E69 - Independence 
#9A8C98 - Heliotrope Gray
#C9ADA7 - Silver Pink
#F2E9E4 -Isabelline
*/


/* Global styles
----------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #22223B;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #F2E9E4;
}
a:hover {
    text-decoration: none; 
}
h1 {
    font-size: 75px;
    line-height: 1;
    text-shadow: 10px 10px 10px #22223B;
}
h2 {
    font-size: 40px;
}
h1, h2 {
    font-family:'Baloo Bhai 2', cursive;
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}


/* Profile
----------------------------------------*/
header {
    background: #4A4E69;
    color: #F2E9E4; 
}

/* Projects
----------------------------------------*/
.projects {
    background: #F2E9E4;
}
.projects .btn {
    color: #F2E9E4;
    background: #4A4E69;
    text-decoration: none; 
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(74, 78, 105, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 2px dashed #22223B ;
    padding: 20px 0;
}
.project-item img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.project-item h3 {
    margin-top: 0;
}

/* Work Experience
----------------------------------------*/
.work-experience {
    background: #C9ADA7;
}


/* Education
----------------------------------------*/



/* Contact Info
----------------------------------------*/
footer {
    background: #4A4E69 ;
    color: #F2E9E4; 
}